.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  width: 280px;
}

.header {
  background-color: #ffffff;
  box-shadow: 2px 3px 3px #000000;
  border-radius: 20px;
  color: #0E3386;
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 2px;
  height: 35px;
  padding: .5em 1em;
  text-align: center;
  width: 230px;
}

.make-favorite-button,
.show-favorite-button {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 3px 3px #000000;
  color: #0E3386;
  cursor: pointer;
  font-size: large;
  margin: .5em;
  padding: .5em 1em;
  position: relative;
}

.make-favorite-button:hover,
.show-favorite-button:hover {
  background-color: #0E3386;
  color: #ffffff;
}

.make-favorite-button:active,
.show-favorite-button:active {
  background-color: #CC3433;
  color: #ffffff;
}

.error {
  height: 400px;
  width: 250px;
  text-align: center;
}