/* 
#0E3386
#CC3433
#ffffff
#4b5a51 
*/


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: x-large;
  color: #0E3386;
  background-color: #ffffff;
  border-radius: 5px;
  padding: .5em 1em;
}

.favorite-button {
  margin: 1em;
  position: absolute;
  bottom: 1em;
  font-size: large;
  border-radius: 5px;
  color: #0E3386;
  background-color: #ffffff;
  padding: .5em 1em;
}
